
@model RentalMovies.ViewModels.MovieFormViewModel

@{ ViewBag.Title = "Edit Movie";
    Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<h2>@ViewBag.Title</h2>

<div id="page-wrapper">
    <div class="main-page">
      @*  @Html.Partial("MessageAlert")*@

        <div class="sign-up-row widget-shadow">


            
            @using (Html.BeginForm("EditMov", "Movies", new {area = "Admin" } ,FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @* if (ViewBag.error != null)
                {
                    <div class="form-group">
                        <label class="alert alert-danger">@ViewBag.error</label>
                    </div>
                }*@


                
            @Html.HiddenFor(m => m.Movies.movieId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Movies.Name)
                @Html.TextBoxFor(m => m.Movies.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Movies.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Movies.ReleaseDate)
                @Html.EditorFor(m => m.Movies.ReleaseDate, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Movies.GenreId)
                @Html.DropDownListFor(m => m.Movies.GenreId, new SelectList(Model.Genre, "Id", "Name"), "---Select Movie genre---", new { @class = "form-control" })
                @*@Html.DropDownListFor(o => o.Movies.Movie_GenreID, ViewBag.genre as SelectList, "---Select Movie genre---", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Movies.GenreId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Movies.NumberInStock)
                @Html.TextBoxFor(m => m.Movies.NumberInStock, new { @class = "form-control" })

            </div>

            <div class="form-group">
                <div style="display:flex"><img style="justify-content:center; width:50%;" src="~/Images/MovieCovers/@Model.Movies.ImageURL" alt="Alternate Text" /></div>
                <input type="file" name="ImageURL" id="ImageURL" class="form-control" />
            </div>


            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

            <div>
                @Html.ActionLink("Back to List", "Index", "Movies", new { area = "Admin" })
            </div>
        }



        </div>
    </div>
</div>

